.header {
    max-width: 864px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        text-decoration: none;
        color: black;
    }
        
    &__menu {
        display: inline-flex;
        // justify-content: center;
        // align-items: center;
        // justify-content: space-between;
   
        &-a {
            text-decoration: none;
                        
            &:visited {
                color: #466768;
            }
            &:hover {
                color: cadetblue;
            }
        }
    }
}

// .header__menu-img {
//     display: none;

// }


li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 20px;
}

